systemtime-node-red.txt
[{"id":"a547a773.6855f8","type":"mqtt in","z":"1c1f73a8.af092c","name":"","topic":"Request/Time","qos":"2","broker":"8e79b041.968cc","x":128.1666717529297,"y":69.55555629730225,"wires":[["8d04f3e4.07db7"]]},{"id":"d53d3d0b.2aea2","type":"inject","z":"1c1f73a8.af092c","name":"24 hours","topic":"","payload":"1","payloadType":"num","repeat":"86400","crontab":"","once":true,"x":127.16668319702148,"y":137.55555725097656,"wires":[["8d04f3e4.07db7","25671ca1.a74c24"]]},{"id":"25671ca1.a74c24","type":"debug","z":"1c1f73a8.af092c","name":"","active":true,"console":"false","complete":"false","x":816.1666259765625,"y":139.1111125946045,"wires":[]},{"id":"8d04f3e4.07db7","type":"change","z":"1c1f73a8.af092c","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":331.1666564941406,"y":137.66666889190674,"wires":[["760291e2.94263"]]},{"id":"760291e2.94263","type":"function","z":"1c1f73a8.af092c","name":"Extract Time","func":"var date = new Date().toString();\nmsg.header = date;\nvar time = date.split(\":\",3);\nvar hour = time[0].split(\" \",5)[4];\nif (hour < 10) hour = hour [1];\nvar year = time[0].split(\" \",5)[3];\nvar day = time[0].split(\" \",5)[2];\nif (day < 10) day = day [1];\nvar month = time[0].split(\" \",5)[1];\nif (month==='Jan') month = 1;\nif (month==='Feb') month = 2;\nif (month==='Mar') month = 3;\nif (month==='Apr') month = 4;\nif (month==='May') month = 5;\nif (month==='Jun') month = 6;\nif (month==='Jul') month = 7;\nif (month==='Aug') month = 8;\nif (month==='Sep') month = 9;\nif (month==='Oct') month = 10;\nif (month==='Nov') month = 11;\nif (month==='Dec') month = 12;\nvar seconds = time[2].split(\" \",1);\n//if (seconds < 10) seconds = seconds [1];\nvar minutes = time[1];\nif (minutes < 10) minutes = minutes [1];\nmsg.payload='{\"day\":' + day + ',\"month\":' + month + ',\"year\":' + year + ',\"hour\":' + hour + ',\"minutes\":' + minutes + ',\"seconds\":' + seconds + '}';\n//msg.payload=time[2];\nreturn msg;","outputs":"1","noerr":0,"x":537.1666870117188,"y":138,"wires":[["25671ca1.a74c24","ed402f11.f4881"]]},{"id":"ed402f11.f4881","type":"mqtt out","z":"1c1f73a8.af092c","name":"","topic":"Time","qos":"","retain":"","broker":"8e79b041.968cc","x":797.1666870117188,"y":74.77778625488281,"wires":[]},{"id":"8e79b041.968cc","type":"mqtt-broker","z":"","broker":"192.168.178.59","port":"8883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]